@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@media only screen and (max-width: 540px) {
    .tabulator-cell, .tabulator-col-title, .tabulator-row .tabulator-responsive-collapse table {
        font-size: 12px;
    }
}
.tabulator-cell[tabulator-field="name"] {
    @apply font-bold;
}
.tabulator-cell[tabulator-field="lvl2"], .tabulator-row.tabulator-selectable:hover {
    background-color: #f1f5f8;
}
.tabulator-footer .tabulator-cell[tabulator-field="score"]:before {
    content: "Avg. "
}
.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background-color: #000;
    color: #fff;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background-color: #333;
}
.tabulator .tabulator-footer .tabulator-page {
    background: hsla(0,0%,100%,.2)!important;
    color: #444!important;
}
.tabulator .tabulator-footer .tabulator-page:hover {
    background-color: #444!important;
    color: #fff!important;
}
.tabulator-tableHolder::-webkit-scrollbar {
    width: 7px;
    background: #e2e8f0;
}
    /* Handle */
.tabulator-tableHolder::-webkit-scrollbar-thumb {
    background: #aaacaf; 
}
    /* Handle on hover */
.tabulator-tableHolder::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c; 
}
.tabulator .tabulator-tableHolder {
    overflow-x: hidden;
}